# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# VS
.vs
packages
Compiler/bin/*
!Release
Compiler/bin/Release/*.xml
Compiler/bin/Release/*.vshost*
Compiler/obj
Compiler/*.csproj.user